<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>layout 后台大布局 - Layui</title>
  <link rel="stylesheet" href="__PLUGS__/layui/dist/css/layui.css">
  <link rel="stylesheet" href="__CSS__/layout.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <!-- 头部区域 -->
    <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item layadmin-flexible" lay-unselect>
        <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
          <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
        </a>
      </li>
      <li class="layui-nav-item layui-this layui-hide-xs layui-hide-sm layui-show-md-inline-block">
        <a lay-href="" title="">
          控制台1
        </a>
      </li>
      <li class="layui-nav-item layui-this layui-hide-xs layui-hide-sm layui-show-md-inline-block">
        <a lay-href="" title="">
          控制台2
        </a>
      </li>
      <li class="layui-nav-item layui-this layui-hide-xs layui-hide-sm layui-show-md-inline-block">
        <a lay-href="" title="">
          控制台3
        </a>
      </li>
      <li class="layui-nav-item layui-this layui-hide-xs layui-hide-sm layui-show-md-inline-block">
        <a lay-href="" title="">
          控制台4
        </a>
      </li>
      <li class="layui-nav-item" lay-unselect>
        <a href="javascript:;" layadmin-event="refresh" title="刷新">
          <i class="layui-icon layui-icon-refresh-3"></i>
        </a>
      </li>
    </ul>
    <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
      
      <li class="layui-nav-item" lay-unselect>
        <a lay-href="app/message/" layadmin-event="message">
          <i class="layui-icon layui-icon-notice"></i>
            <span class="layui-badge-dot"></span>
        </a>
      </li>
      <li class="layui-nav-item layui-hide-xs" lay-unselect>
        <a href="javascript:;" layadmin-event="theme">
          <i class="layui-icon layui-icon-theme"></i>
        </a>
      </li>
      <li class="layui-nav-item layui-hide-xs" lay-unselect>
        <a href="javascript:;" layadmin-event="note">
          <i class="layui-icon layui-icon-note"></i>
        </a>
      </li>
      <li class="layui-nav-item" lay-unselect>
          <a href="javascript:;">
            <cite>username</cite>
          </a>
          <dl class="layui-nav-child">
            <dd><a lay-href="set/base/website">基本资料</a></dd>
            <dd><a lay-href="set/security/">安全设置</a></dd>
            <hr>
            <dd layadmin-event="logout" style="text-align: center;"><a>退出</a></dd>
          </dl>
      </li>
      
      <li class="layui-nav-item layui-hide-xs" lay-unselect>
        <a href="javascript:;" layadmin-event="about"><i class="layui-icon layui-icon-more-vertical"></i></a>
      </li>
      <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>
        <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
      </li>
    </ul>
  </div>

  <!-- 侧边菜单 -->
  <div class="layui-side layui-side-menu">
    <div class="layui-side-scroll">
        <div class="layui-logo" lay-href="">
          <span>xxAdmin</span>
        </div>
        
        <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
          <li data-name="{{ item.name || '' }}" data-jump="{{ item.jump || '' }}" class="layui-nav-item layui-nav-itemed">
            <a href="javascript:;" lay-href="url" lay-tips="title" lay-direction="2">
              <i class="layui-icon"></i>
              <cite>title</cite>
            </a>
              <dl class="layui-nav-child">
                <dd  data-name="name" class="layui-this">
                  <a href="javascript:;" lay-href="url">title</a>
                </dd>
            </dl>
          </li>
          <li data-name="{{ item.name || '' }}" data-jump="{{ item.jump || '' }}" class="layui-nav-item layui-nav-itemed">
            <a href="javascript:;" lay-href="url" lay-tips="title" lay-direction="2">
              <i class="layui-icon"></i>
              <cite>title</cite>
            </a>
              <dl class="layui-nav-child">
                <dd  data-name="name" class="layui-this">
                  <a href="javascript:;" lay-href="url">title</a>
                </dd>
            </dl>
          </li>
        </ul>
    </div>
  </div>
  <!-- 页面标签 -->
    <div class="layadmin-pagetabs" id="LAY_app_tabs">
      <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
      <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
      <div class="layui-icon layadmin-tabs-control layui-icon-down">
        <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
          <li class="layui-nav-item" lay-unselect>
            <a href="javascript:;"></a>
            <dl class="layui-nav-child layui-anim-fadein">
              <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
              <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
            </dl>
          </li>
        </ul>
      </div>
      <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
        <ul class="layui-tab-title" id="LAY_app_tabsheader">
          <li lay-id="index"><i class="layui-icon layui-icon-home"></i></li>
        </ul>
      </div>
    </div>
  
  <!-- 主体内容 -->
  <div class="layui-body layui-layout-body" id="LAY_app_body">
    <div class="layadmin-tabsbody-item layui-show"></div>
  </div>
  
  <!-- 辅助元素，一般用于移动设备下遮罩 -->
  <div class="layadmin-body-shade" layadmin-event="shade"></div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © layui.com - 底部固定区域
  </div>
</div>
<script src="__PLUGS__/layui/dist/layui.js"></script>
<script>
  layui.config({
    base: '__STATIC__/layuiAdmin/' //指定 layuiAdmin 项目路径
    ,version: '1.0.0-beta5'
  }).use('index');
</script>
</body>
</html>